<section class="about container" id="about">
  <h2 class="visually-hidden">About Me</h2>

  <div class="top-content">
    <div class="grey-frame">
      <p class="frame-text">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
        <span class="special-word">FUNCTIONAL</span>
        <span class="special-word-site">WEBSITES</span> THAT REFLECT EACH
        CLIENT'S UNIQUE PERSONALITY.
      </p>
    </div>

    <div class="frame-photo">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            /images/about-me/about-me-mob.webp    1x,
            /images/about-me/about-me-mob-2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /images/about-me/about-me-tab.webp    1x,
            /images/about-me/about-me-tab-2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1440px)"
          srcset="
            /images/about-me/about-me-dsk.webp    1x,
            /images/about-me/about-me-dsk-2x.webp 2x
          "
          type="image/webp"
        />

        <img
          src="/images/about-me/about-me-dsk.webp"
          alt="photo"
          class="responsive-photo"
        />
      </picture>
    </div>
  </div>

  <div class="impose-about-me">
    <ul class="list-about-me">
      <li class="ac about-me-item">
        <button class="about-trigger" type="button">
          <svg class="icon-arrow-down">
            <use href="/images/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="icon-arrow-up">
            <use href="/images/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="list-label ac-header">ABOUT ME</div>
        <div class="list-content ac-panel">
          <p class="main-text ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="main-text ac-text"></p>
          <p class="main-text ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="ac about-me-item">
        <button class="about-trigger" type="button">
          <svg class="icon-arrow-down">
            <use href="/images/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="icon-arrow-up">
            <use href="/images/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="list-label ac-header">ROLE</div>
        <div class="list-content ac-panel">
          <p class="main-text ac-text">Frontend development</p>
          <p class="main-text ac-text">HeadlessCMS,Wordpress</p>
          <p class="main-text ac-text">Blender(enjoy)</p>
        </div>
      </li>

      <li class="ac about-me-item">
        <button class="about-trigger" type="button">
          <svg class="icon-arrow-down">
            <use href="/images/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="icon-arrow-up">
            <use href="/images/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="list-label ac-header">EDUCATION</div>
        <div class="list-content ac-panel">
          <p class="main-text ac-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="main-text ac-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          </p>
          <p class="main-text ac-text">
            New York 2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="tech-swiper-top">
    <div class="tech-swiper">
      <ul class="swiper-wrapper tech-list">
        <li class="swiper-slide tech-item">
          <p class="tech">HTML/CSS</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">JavaScript</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">React</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">Node.js</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">React Native</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">Soft Skills</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">HTML/CSS</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">JavaScript</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">React</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">Node.js</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">React Native</p>
        </li>
        <li class="swiper-slide tech-item">
          <p class="tech">Soft Skills</p>
        </li>
      </ul>
      <div tabindex="0" class="tech-button-next">
        <svg class="right-arrow-icon" width="24" height="24">
          <use href="/images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
