<section class="covers container" id="covers">
  <ul class="covers-wrapper animation">
    <li class="covers-line">
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-5.webp"
          srcset="
            /images/covers/cover-5.webp    1x,
            /images/covers/cover-5-2x.webp 2x
          "
          alt="wallet"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-10.webp"
          srcset="
            /images/covers/cover-10.webp    1x,
            /images/covers/cover-10-2x.webp 2x
          "
          alt="starlight studio"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-6.webp"
          srcset="
            /images/covers/cover-6.webp    1x,
            /images/covers/cover-6-2x.webp 2x
          "
          alt="chego"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-5.webp"
          srcset="
            /images/covers/cover-5.webp    1x,
            /images/covers/cover-5-2x.webp 2x
          "
          alt="wallet"
        />
      </div>
    </li>
    <li class="covers-line">
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-2.webp"
          srcset="
            /images/covers/cover-2.webp    1x,
            /images/covers/cover-2-2x.webp 2x
          "
          alt="mimino"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-1.webp"
          srcset="
            /images/covers/cover-1.webp    1x,
            /images/covers/cover-1-2x.webp 2x
          "
          alt="power pulce"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-9.webp"
          srcset="
            /images/covers/cover-9.webp    1x,
            /images/covers/cover-9-2x.webp 2x
          "
          alt="learning English"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-2.webp"
          srcset="
            /images/covers/cover-2.webp    1x,
            /images/covers/cover-2-2x.webp 2x
          "
          alt="mimino"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-1.webp"
          srcset="
            /images/covers/cover-1.webp    1x,
            /images/covers/cover-1-2x.webp 2x
          "
          alt="power pulce"
        />
      </div>
    </li>
    <li class="covers-line">
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-5.webp"
          srcset="
            /images/covers/cover-5.webp    1x,
            /images/covers/cover-5-2x.webp 2x
          "
          alt="wallet"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-10.webp"
          srcset="
            /images/covers/cover-10.webp    1x,
            /images/covers/cover-10-2x.webp 2x
          "
          alt="starlight studio"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-3.webp"
          srcset="
            /images/covers/cover-3.webp    1x,
            /images/covers/cover-3-2x.webp 2x
          "
          alt="embroidery"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-6.webp"
          srcset="
            /images/covers/cover-6.webp    1x,
            /images/covers/cover-6-2x.webp 2x
          "
          alt="chego"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-5.webp"
          srcset="
            /images/covers/cover-5.webp    1x,
            /images/covers/cover-5-2x.webp 2x
          "
          alt="wallet"
        />
      </div>
    </li>
    <li class="covers-line">
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-4.webp"
          srcset="
            /images/covers/cover-4.webp    1x,
            /images/covers/cover-4-2x.webp 2x
          "
          alt="vegetables"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-7.webp"
          srcset="
            /images/covers/cover-7.webp    1x,
            /images/covers/cover-7-2x.webp 2x
          "
          alt="body in shape"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-8.webp"
          srcset="
            /images/covers/cover-8.webp    1x,
            /images/covers/cover-8-2x.webp 2x
          "
          alt="fruits"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-4.webp"
          srcset="
            /images/covers/cover-4.webp    1x,
            /images/covers/cover-4-2x.webp 2x
          "
          alt="vegetables"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-7.webp"
          srcset="
            /images/covers/cover-7.webp    1x,
            /images/covers/cover-7-2x.webp 2x
          "
          alt="body in shape"
        />
      </div>
    </li>
    <li class="covers-line">
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-9.webp"
          srcset="
            /images/covers/cover-9.webp    1x,
            /images/covers/cover-9-2x.webp 2x
          "
          alt="learning English"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-6.webp"
          srcset="
            /images/covers/cover-6.webp    1x,
            /images/covers/cover-6-2x.webp 2x
          "
          alt="chego"
        />
      </div>
      <div class="cover-item">
        <img
          class="cover-image"
          src="/images/covers/cover-9.webp"
          srcset="
            /images/covers/cover-9.webp    1x,
            /images/covers/cover-9-2x.webp 2x
          "
          alt="learning English"
        />
      </div>
    </li>
  </ul>
</section>
