<section class="faq container" id="faq">
  <h2 class="section-header">FAQ</h2>

  <ul class="accordion-container">
    <li class="ac item-1">
      <button class="ac-trigger" type="button">
        <svg class="icon-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <h3 class="ac-header">
        What programming languages ​​are most often used in your project?
      </h3>
      <div class="ac-panel">
        <p class="ac-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>

    <li class="ac item-2">
      <button class="ac-trigger" type="button">
        <svg class="icon-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <h3 class="ac-header">How can I contact you?</h3>
      <div class="ac-panel">
        <p class="ac-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>

    <li class="ac item-3">
      <button class="ac-trigger" type="button">
        <svg class="icon-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <h3 class="ac-header">Lorem ipsum dolor sit amet.3</h3>
      <div class="ac-panel">
        <p class="ac-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </li>

    <li class="ac item-4">
      <button class="ac-trigger" type="button">
        <svg class="icon-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <h3 class="ac-header">Lorem ipsum dolor sit amet.4</h3>
      <div class="ac-panel">
        <p class="ac-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </li>

    <li class="ac item-5">
      <button class="ac-trigger" type="button">
        <svg class="icon-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <h3 class="ac-header">Lorem ipsum dolor sit amet.5</h3>
      <div class="ac-panel">
        <p class="ac-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </li>

    <li class="ac item-6">
      <button class="ac-trigger" type="button">
        <svg class="icon-close" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <h3 class="ac-header">Lorem ipsum dolor sit amet.6</h3>
      <div class="ac-panel">
        <p class="ac-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </li>
  </ul>
</section>
