/* Fonts */
@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('../fonts/InterTight-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
	color: #FAFAFA;
	background-color: rgba(28, 29, 32, 1);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'InterTight', sans-serif;
    font-weight: 500;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}