*{
    box-sizing: content-box;
}
.container{
    padding: 0 16px;
}
.benefits{
    margin-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
}
.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.work_btn{
    width: 344px;
}
.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    gap: 16px;

}

.inf_list {
    background-color: #242527;
    width: 344px;
    height: 270px;
    border-radius: 20px;
}

.uppertitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    text-align: left;
    padding-left: 24px;
}

.info_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    text-align: left;
    padding-left: 24px;
}

.btn_order {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 187px;
    height: 55px;
    background-color: inherit;
    margin-top: 32px;
    padding: 0;
    margin-bottom: 64px;
    margin-left: 0;
}
.btn_order:hover {
    border-color: rgba(250, 250, 250, 1);
}
.btn_order:focus{
    border-color: rgba(250, 250, 250, 1);
}

.link_order {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    text-decoration: none;
}

.icon-svg {
    width: 48px;
    height: 48px;
    background-color: #ED3B44;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

.icon-svg use {
    transform: scale(0.5);
    transform-origin: center;
    fill: none;
    stroke: #FAFAFA;
    stroke-width: 2;
}

@media only screen and (min-width: 768px) {
    .container{
        padding: 0 32px;
    }
    .work{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 64px;
        
    }
    .benefits{
        margin-top: 96px;
    }
    .work_btn{
        width: auto;
    }
}
@media only screen and (min-width: 1440px) {
    .benefits{
        display: flex;
    }
    .title{
        width: 100%;
    }
    .inf_list{
        width: 332px;
    }
    .btn_order{
        margin-bottom: 164px;
    }
    .benefits{
    margin-top: 168px;
    }
}