.projects {
    padding: 32px 16px 116px 16px;
    position: relative;
}

.project-headline {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.navigation-wrap {
    position: absolute;
    left: 50%;
    bottom: 62px;
    width: 140px;
    transform: translateX(-50%);
}

.description-wrap {
    border-radius: 24px 24px 0 0;
    background: #fafafa;
    padding: 32px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 96px;
}

.skill {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
}

.project-description {
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    color: #1c1d20;
    margin-bottom: 32px;
}

.project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 60px;
    width: 141px;
    height: 45px;
    background: #ed3b44;
    outline: none;
    transition: background 0.3s ease;
}

.project-link:hover,
.project-link:focus {
    background: #e0373f;
}

.picture-wrap {
    height: 395px;
    border-radius: 0 0 24px 24px;
    background: #242527;
    padding: 100px 16px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    display: flex !important;
    position: absolute;
    width: 52px !important;
    height: 52px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
    border: 2px solid rgba(250, 250, 250, 0.5);
}

.projects-arrow {
    fill: none;
    stroke: #fafafa;
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 768px) {
    .projects {
        padding: 48px 32px 180px 32px;
    }

    .navigation-wrap {
        bottom: 110px;
        width: 180px;
    }

    .description-wrap {
        padding: 64px;
    }

    .project-description {
        font-size: 44px;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    .skills {
        margin-bottom: 164px;
    }

    .skill {
        padding: 18px;
    }

    .project-link {
        width: 177px;
        height: 55px;
        background: #ed3b44;
        transition: background 0.3s ease;
    }

    .picture-wrap {
        height: 625px;
        background: #242527;
        padding: 120px 45px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 68px !important;
        height: 68px !important;
    }
}


@media only screen and (min-width: 1440px) {
    .swiper-slide {
        display: flex !important;
    }

    .projects {
        padding-top: 82px;
        padding-bottom: 214px;
    }

    .navigation-wrap {
        left: 49%;
        bottom: 120px;
        transform: translateX(-50%);
    }

    .description-wrap {
        border-radius: 24px 0 0 24px;
        width: 668px;
    }

    .skills {
        margin-bottom: 223px;
    }

    .picture-wrap {
        padding: 120px 37px;
        border-radius: 0 24px 24px 0;
    }
}
